body{
  width:100vw;
  height:100vh;
  overflow: hidden;
}
.back{
  position: absolute;
  width:240%;
  height:240%;
  left:-70%;
  top:-70%;
  background-image: linear-gradient(-45deg,white,lightgrey,white,grey);
  background-size: 240% 240%;
  animation: gradient 5s linear infinite;
}
@keyframes gradient {
    0% {
        transform:rotate(0);
    }
    25% {
        transform:rotate(90deg);
    }
    50% {
        transform:rotate(180deg);
    }
    75% {
        transform:rotate(270deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
.cal{
  background-color: white;
  width:35%;
  position: absolute;
  height:60%;
  left:32%;
  top:15%;
  box-shadow: 0 0 10px grey;
  border-radius: 15px;
  transition: box-shadow 1s;
}
.cal:hover{
  box-shadow: 0px 15px 25px grey;
  transition: box-shadow 0.7s;
}
table{
  width:100%;
  height:80%;
}
input{
  width:100%;
  border-radius: 10px;
  border-width: thin;
  border-color: #de6834;
}
.sizer{
  width:95%;
  height:95%;
  font-size: 150%;
  /* font-weight: bold; */
  box-shadow: 0 0 5px lightgrey;
}
.equal{
  height:100%;
  background-color: #ffeee5;
  color: #de6834;
}
.orange{
  background-color: #de6834;
  color: white;
}
a{
  text-decoration: none;
  color:darkslategrey;
}
a:hover{
  text-decoration: none;
  color:darkslategrey;
}
p{
  color:darkslategrey;
  position: absolute;
  top:90%;
  left:45%;
  transition: transform 0.7s ease-in-out;
}
p:hover{
  transform: scale(1.1,1.1);
}

@media (max-width:1000px){
  div{
    width:70%;
    left:15%;
  }
}
@media (max-width:600px){
  div{
    width:90%;
    left:5%;
  }
}
